.dashboard-btn{
    background-color: #882380;
}

.dashboard-btn:hover{
    background-color: #6f0f67;
}

.form-group {
    padding-top: 10px;
    padding-bottom: 10px;
}

.member-dashboard button.close {
    display: none;
}

.header-profile-user {
    object-fit: cover;
}

.region-navigator{
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 20px;
}

.region-navigator a {
    padding: 15px 30px;
    border-radius: 10px;
    margin-bottom: -10px;
    font-weight: bold;
}

.region-navigator a:hover, .region-navigator a.active:hover {
    color: #a93aa0;
}

.region-navigator a.active {
    font-size: 18px;
    font-weight: normal;
    background: white;
    -webkit-box-shadow: 0 0 6px rgb(0 0 0 / 10%);
    box-shadow: 0 0 6px rgb(0 0 0 / 10%);
    border-radius: 10px;
    color: #a93aa0;
}